* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-content{
  display: flex;
  gap: 25%;
}

.clear-btn{
  margin-top:25px ;
  font-size:25px ;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 10%;
  gap: 20px;
}

.products {
  width: 30%;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-pictures {
  width: 100%;
  height: 300px;
}

.product-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* cart */
#shopping-cart {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  bottom: 0;
  z-index: 3;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  font-size: 25px;
  
}

#cart.active {
  left: 0;
}


#cart-button{
  margin-top:25px ;
  font-size:25px ;
  margin-left: 25px;
  margin-bottom: 25px;
}

.search{
  font-size: 25px;
}